// = Основной цвет фона
$bkg-color: #ffffff;

// Вспомогательный цвет фона
$bkg-aux: #84A178;

// Цвет карточки icecream
$color-cart-icecream: #AEC6A5;

// Цвет бордера icecream в модальном окне
$color-modal-icecream: #96AF8C;

// Цвет бордера иградиентов в ingadients
$color-modal-ingr: #9CBE8F;

// Цвет карточки icecoffe
$color-cart-icecoffee: #EFD478;

// Цвет карточки milkshakes
$color-cart-milkshakes: #D6936D;

// = Основной цвет текста
$color: #131313;

// Цвет текста хедера
$color-text-header: #ffffff;

// Белый цвет текста
$color-white: #FCFCFC;

// Цвет ссылок в главном меню мобил и планшет
$buttons-link: #000000;

// Цвет стрелок
$arrow: #ffffff;

// Цвет заголовков
$color-header: #212121;

// Цвет акцента
$color-accent: #f8d24e;
$color-accent-rgba: rgba(248, 210, 78, 0.1);

// Цвет при ховере
$hover: #0A8817;

// Цвет неактивных кнопок слайдера
$color-dots: #d9d9d9;

// Цвет разделительной линии в контактах
$color-line: #e1e1e1;

// Цвет времени в контактах
$color-time: #ababab;

// Цвет текста футера
$color-text-footer: #7a7a7a;

// Цвет фона модального окна
$color-modal: rgba(0, 0, 0, 0.20);

// = Набор основного шрифта
$font-main: Montserrat;

// Набор шрифта хедера
$font-header: Seymour One;

// Набор вспомогательного шрифта 1
$font-aux1: DM Sans;

// = Набор дополнительного шрифта
$font-family: sans-serif;