// = Основной цвет фона
$bkg-color: #ffffff;

// Цвет фона заголовков
// $bkg-header: #2F303A;

// Вспомогательный цвет фона
$bkg-aux: #84A178;

// Цвет карточки icecream
$color-cart-icecream: #AEC6A5;

// Цвет карточки icecoffe
$color-cart-icecoffee: #EFD478;

// Цвет карточки milkshakes
$color-cart-milkshakes: #D6936D;

// = Основной цвет текста
$color: #131313;

// Цвет текста хедера
$color-text-header: #ffffff;

// Белый цвет текста
$color-white: #FCFCFC;

// Цвет ссылок в главном меню мобил и планшет
$buttons-link: #000000;

// Цвет стрелок
$arrow: #ffffff;

// = Цвет заголовков
$color-header: #212121;

// Цвет акцента
$color-accent: #F8D24E;

// Цвет при ховере
$hover: #0A8817;

// Цвет неактивных кнопок слайдера
$color-dots: #d9d9d9;

// Цвет акцента с прозрачностью 90%
// $color-accent90: rgba(33, 150, 243, 0.90);

// Цвет кнопки submit
// $color-submit: #188CE8;

// Цвет контактов в футере
// $footer-contacts: rgba(255, 255, 255, 0.60);

// Цвет фона иконок соцсетей в футере
// $footer-icons: rgba(255, 255, 255, 0.10);

// Цвет разделителя
// $line: #ececec;

// Цвет бордера карточек
// $color-border: #eeeeee;

// Цвет бордера логотипов
// $color-border-logo: #AFB1B8;

// Цвет фона модального окна
$color-modal: rgba(0, 0, 0, 0.20);

// Цвет текста плейсхолдера в модальном окне
// $color-placeholder: rgba(117, 117, 117, 0.50);

// Цвет рамок input в модульном окне
// $color-input: rgba(33, 33, 33, 0.20);

// Цвет фона оверлея на картинках секции work
// $color-overlay: rgba(47, 48, 58, 0.80);


// = Набор основного шрифта
$font-main: Montserrat;

// Набор шрифта хедера
$font-header: Seymour One;

// Набор вспомогательного шрифта 1
$font-aux1: DM Sans;

// = Набор дополнительного шрифта
$font-family: sans-serif;

// Набор шрифта для логотипа
// $font-logo: Raleway;