<!-- Серый фон -->
<div class="more__backdrop is-hidden" data-modal-more>
  <!-- Модальное окно -->
  <div class="modal-more" id="modal-more">
    <h2 class="more__header">How it's made</h2>
    <div class="more-video">
      <svg class="icon-modal-play" aria-label="Кнопка play">
        <use
          class="icon-close"
          href="./images/footer/symbol-defs.svg#icon-play"
        ></use>
      </svg>
    </div>
    <p class="modal-more-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
    <!-- Кнопка закрытия модального окна -->
    <button
      type="button"
      aria-expanded="false"
      aria-controls="modal-more"
      class="button-modal-more"
      data-modal-close-more
    >
      <svg class="icon-modal-more" aria-label="Закрытие модального окна">
        <use
          class="icon-close"
          href="./images/footer/symbol-defs.svg#icon-close"
        ></use>
      </svg>
    </button>
  </div>
</div>
