// Стили оверлея (единые для всех вьюпортов)
.more__backdrop {
    @extend %backdrop;
}

// Стили закрытого модального окна
.more__backdrop.is-hidden .modal-more {
    // В закрытом состоянии у модалки размер 10%
    @extend %closed_modal;
}

// Стили модального окна
.modal-more {
    @extend %modal;
    height: 480px;
}

// Скрытие стандартной кнопки закрытия модального окна
.button-modal-more {
    @extend %modal-button-close;
}

// Стили иконки закрытия модального окна
.icon-modal-more {
    @extend %modal-icon-close;
}

// Стили хедера
.more__header {
    width: 180px;
    height: 24px;
    margin: 18px auto 0 auto;

    font-family: $font-header;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $color;
}

// Стили экрана video
.more-video {
    display: flex;
    width: 224px;
    height: 199px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: $color;
}

// Стили треугольника play
.icon-modal-play {
    display: block;
    width: 36px;
    height: 36px;
    margin: auto;
}

// Стили текста модального окна
.modal-more-text {
    width: 224px;
    margin: 20px auto 0 auto;

    font-family: $font-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    text-align: left;
}

// === Для экранов от 480 до 767 пикселей
@media screen and (min-width: $mobile480) {
    .modal-more {
        width: 400px;
    }
}

// === Для экранов от 768 до 1200 пикселей
@media screen and (min-width: $tablet) {
    .modal-more {
        width: 568px;
    }

    .icon-modal-more {
        width: 24px;
        height: 24px;
    }

    // Стили хедера
    .more__header {
        width: 300px;
        height: 28px;
        margin: 32px auto 0 auto;
    
        font-size: 20px;
        line-height: 28px;
    }
    
    // Стили экрана video
    .more-video {
        display: flex;
        width: 448px;
        height: 205px;
        margin: 32px auto 0 auto;
    }
    
    // Стили текста модального окна
    .modal-more-text {
        width: 448px;
        margin: 32px auto 0 auto;

        font-size: 16px;
        line-height: 22.4px;
    }
}

// === Для экранов от 1200 и более
@media screen and (min-width: $desktop) {
    .modal-more {
        width: 800px;
    }
}