// Стили оверлея (единые для всех вьюпортов)
.ingr__backdrop {
    @extend %backdrop;
}

// Стили закрытого модального окна
.ingr__backdrop.is-hidden .modal-ingr {
    // В закрытом состоянии у модалки размер 10%
    @extend %closed_modal;

}

// Стили модального окна
.modal-ingr {
    @extend %modal;
}

// Скрытие стандартной кнопки закрытия модального окна
.button-modal-ingr {
    @extend %modal-button-close;
}

// Стили иконки закрытия модального окна
.icon-modal-ingr {
    @extend %modal-icon-close;
}

// Стили хедера
.ingr__header {
    width: 142px;
    height: 56px;
    margin: 18px auto 0 auto;

    font-family: $font-header;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: $color;
}

// Стили картинки
.ingr-icecream {
    width: 172px;
    height: 172px;
    margin: 10px auto 0 auto;
}

// Стили сетки
.ingr__grid-container {
    width: 240px;
    padding: 0;
    margin: 6px auto 0 auto;

    display: grid;
    gap: 9px;
    grid-template-rows: 72px;
    grid-template-columns: 53px 53px 53px 53px;
}

.ingr__grid-element {
    position: relative;
    width: 53px;
    height: 72px;
    padding: 0;

    border-radius: 40px;
    border: solid 2px $color-modal-ingr;
}

// Стили контента сетки
.ingr-rond {
    position: absolute;
    top: 2px;
    left: 0px;

    transform: scale(170%, 170%);
}

.rond-number {
    position: absolute;
    top:5px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;

    font-family: $font-main;
    font-weight: 500;
    font-size: 10px;
    line-height: 28px;
}

.rond-text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    
    font-family: $font-main;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.19px;
}

// Стили заголовка таблицы
.table-title {
    margin: 40px 0 0 0;
    font-family: $font-main;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

// Стили таблицы
.ingr-table {
    width: 250px;
    margin: 24px auto 0 auto;
    font-size: 14px;
    line-height: 24.64px;

    tr {
        height: 32px;
    }

    td {
        &:nth-child(2) {
            text-align: right;
        }
    }
}

// === Стили формы заказа
.ingr__form {
    position: relative;
    width: 240px;
    height: 266px;
    padding: 0;
    margin: 40px 0 0 0;
    margin-left: auto;
    margin-right: auto;
}

// - Стили лейблов
.ingr__name {
    position: absolute;
    top: 9px;
    left: 10px;
}

.ingr__phone {
    position: absolute;
    top: 67px;
    left: 10px;
}

.ingr__comment {
    position: absolute;
    top: 118px;
    left: 12px;
}

// - Стили input
.ingr__input {
    width: 240px;
    height: 42px;
    padding-left: 65px;

    border-radius: 10px;
    border: solid 1px $bkg-aux;

    font-family: $font-main;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    background-color: $color-accent-rgba;

    &.phone {
        margin-top: 16px;
    }

    &.textarea {
        height: 84px;
        margin-top: 16px;
        padding: 5px;
        text-indent: 90px;
    }
}

// - Стили кнопки отправки формы
.ingr__submit {
    display: block;
    width: 132px;
    height: 42px;
    margin: 24px auto 0 auto;

    font-family: $font-main;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.07px;
    text-align: center;

    border: none;
    border-radius: 10px;
    background-color: $color-accent;
    cursor: pointer;
}

// === Для экранов от 480 до 767 пикселей
@media screen and (min-width: $mobile480) {
    .modal-ingr {
        width: 400px;
    }
}

// === Для экранов от 768 до 1200 пикселей
@media screen and (min-width: $tablet) {
    .modal-ingr {
        width: 568px;
    }
 
    // Стили кнопки закрытия окна
    .icon-modal-ingr {
        width: 24px;
        height: 24px;
    }

    // Стили хедера
    .ingr__header {
        width: 300px;
        margin: 22px auto 0 auto;
    }

    // Стили картинки
    .ingr-icecream {
        margin: 24px auto 0 auto;
    }

    // Стили сетки
    .ingr__grid-container {
        width: 320px;
        margin: 24px auto 0 auto;
        
        gap: 20px;
        grid-template-rows: 90px;
        grid-template-columns: 65px 65px 65px 65px;
    }

    .ingr__grid-element {
        width: 65px;
        height: 90px;
    }

    .rond-number {
        top: 11px;
        font-size: 12px;
    }

    .rond-text {
        font-size: 12px;
        line-height: 14.63px;
    }

    // Стили заголовка таблицы
    .table-title {
        margin: 48px 0 0 0;
    }

    // Стили таблицы
    .ingr-table {
        width: 488px;
    
        line-height: 24.64px;
    
        tr {
            height: 36px;
        }
    
        td {
            &:nth-child(2) {
                text-align: right;
            }
        }
    }

    // === Стили формы заказа
    .ingr__form {
        width: 368px;
        height: 274px;
    }

        // - Стили input
        .ingr__input {
            width: 368px;
        }

        // - Стили кнопки отправки формы
        .ingr__submit {
            width: 121px;
            margin: 32px auto 0 auto;
        }  
}

// === Для экранов от 1200 и более
@media screen and (min-width: $desktop) {
    .modal-ingr {
        width: 800px;
    }
}