<section>
  <div class="advantages-wrapper">
    <h2 class="advantages-header">Advantages</h2>
    <div class="adv-grid-container">
      <div class="adv-grid-element cow">
        <p class="adv-number">721</p>
        <p class="adv-info">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
      <div class="adv-grid-element weight">
        <p class="adv-number">16KG</p>
        <p class="adv-info">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
      <div class="adv-grid-element torch">
        <p class="adv-number">84</p>
        <p class="adv-info">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
    </div>
  </div>
</section>
