<section>
  <div class="contacts-wrapper">
    <h2 class="contacts-header">Contacts</h2>
    <!-- Контейнер сетки -->
    <div class="cont-grid-container" id="contact">
      <!-- Карточка 1 -->
      <div class="cont-grid-element">
        <p class="cont-label">CAFE</p>
        <address class="address">
          <p class="cont-town">Chicago</p>
          <p class="cont-adress">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </p>
        </address>
        <hr class="line" />
        <p class="monday">Monday - Friday</p>
        <p class="time">06:00 AM - 10:00 PM</p>
        <p class="saturday">Saturday - Sunday</p>
        <p class="time">08:00 AM - 16:00 PM</p>
        <hr class="line" />
        <address class="address">
          <a class="cont-phone" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="cont-email" href="mailto:noreply@envato.com">
            noreply@envato.com
          </a>
        </address>
      </div>
      <!-- Карточка 2 -->
      <div class="cont-grid-element">
        <p class="cont-label">FOODTRUCK</p>
        <address class="address">
          <p class="cont-town">Los Angeles</p>
          <p class="cont-adress">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </p>
        </address>
        <hr class="line" />
        <p class="monday">Monday - Friday</p>
        <p class="time">06:00 AM - 10:00 PM</p>
        <p class="saturday">Saturday - Sunday</p>
        <p class="time">08:00 AM - 16:00 PM</p>
        <hr class="line" />
        <address class="address">
          <a class="cont-phone" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="cont-email" href="mailto:noreply@envato.com">
            noreply@envato.com
          </a>
        </address>
      </div>
      <!-- Карточка 3 -->
      <div class="cont-grid-element">
        <p class="cont-label">CAFE</p>
        <address class="address">
          <p class="cont-town">New York</p>
          <p class="cont-adress">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
        </address>
        <hr class="line" />
        <p class="monday">Monday - Friday</p>
        <p class="time">06:00 AM - 10:00 PM</p>
        <p class="saturday">Saturday - Sunday</p>
        <p class="time">08:00 AM - 16:00 PM</p>
        <hr class="line" />
        <address class="address">
          <a class="cont-phone" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="cont-email" href="mailto:noreply@envato.com">
            noreply@envato.com
          </a>
        </address>
      </div>
    </div>
    <div class="contacts-buttons">
      <!-- Кнопка Our location -->
      <button class="button" data-modal-open-location type="button">
        Our Locations
        <svg class="button-arrow">
          <use href="./images/footer/symbol-defs.svg#icon-menu-arrow"></use>
        </svg>
      </button>
      <!-- Кнопка Franchise -->
      <button class="button" data-modal-open-franchise type="button">
        Franchise
        <svg class="button-arrow">
          <use href="./images/footer/symbol-defs.svg#icon-menu-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
