<div class="footer-wrapper">
  <div class="footer-info">
    <div class="footer-header">
      <p class="footer-homemade">HOMEMADE ICE CREAM MADE</p>
      <p class="footer-passion">WITH PASSION</p>
    </div>
    <div class="footer-contacts">
      <ul class="icon-list">
        <li class="icon-item">
          <svg class="icon">
            <a class="icon-link" href="https://github.com/" target="_blank">
              <use href="./images/footer/symbol-defs.svg#icon-github"></use>
            </a>
          </svg>
        </li>
        <li class="icon-item">
          <svg class="icon">
            <a
              class="icon-link"
              href="https://web.telegram.org/k/"
              target="_blank"
            >
              <use href="./images/footer/symbol-defs.svg#icon-telegram"></use>
            </a>
          </svg>
        </li>
        <li class="icon-item">
          <svg class="icon">
            <a class="icon-link" href="https://facebook.com/" target="_blank">
              <use href="./images/footer/symbol-defs.svg#icon-facebook"></use>
            </a>
          </svg>
        </li>
      </ul>
      <p class="footer-phone">
        Feel free to contact
        <a class="numbers" href="tel:+610383766284">+61(0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="text-copyright">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</div>
