<section class="products">
  <div class="products-wrapper">
    <p class="prod-label" id="products">100% NATURAL</p>
    <h2 class="prod-header">PRODUCTS</h2>
    <div class="grid-container">
      <div class="grid-element icecream">
        <h2 class="cart-title">ICE CREAM</h2>
        <p class="card-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <img
          class="cart-arrow"
          src="./images/products/arrow-to-right.svg"
          width="40"
          height="16"
          alt="Стрелка вправо"
        />
      </div>
      <div class="grid-element icecoffee">
        <h2 class="cart-title">ICE COFFEE</h2>
        <p class="card-text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <img
          class="cart-arrow"
          src="./images/products/arrow-to-right.svg"
          width="40"
          height="16"
          alt="Стрелка вправо"
        />
      </div>
      <div class="grid-element milkshakes">
        <h2 class="cart-title">MILKSHAKES</h2>
        <p class="card-text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <img
          class="cart-arrow"
          src="./images/products/arrow-to-right.svg"
          width="40"
          height="16"
          alt="Стрелка вправо"
        />
      </div>
    </div>
  </div>
</section>
