<section>
  <div class="reviews-wrapper">
    <!-- Слайдер -->
    <div class="slider-container">
      <div class="switch">
        <!-- Скрытые кнопки управления -->
        <input type="radio" name="slider" id="slide-1" checked />
        <input type="radio" name="slider" id="slide-2" />
        <input type="radio" name="slider" id="slide-3" />
        <!-- Отображаемые кнопки управления -->
        <div class="controls">
          <label for="slide-1"></label>
          <label for="slide-2"></label>
          <label for="slide-3"></label>
        </div>
        <!-- Карточка слайдера 1 -->
        <div class="slider-wrapper">
          <div class="slider-box">
            <img
              class="slide-photo"
              srcset="
                ./images/reviews/avatar-first.png    1x,
                ./images/reviews/avatar-first@2x.png 2x
              "
              src="./images/reviews/avatar-first.png"
              alt="Фото пользователя"
            />
            <div class="text-container">
              <p class="slide-text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <p class="slide-footer">Emily, Los Angeles</p>
          </div>
          <!-- Карточка слайдера 2 -->
          <div class="slider-box">
            <img
              class="slide-photo"
              srcset="
                ./images/reviews/avatar-second.png    1x,
                ./images/reviews/avatar-second@2x.png 2x
              "
              src="./images/reviews/avatar-second.png"
              alt="Фото пользователя"
            />
            <div class="text-container">
              <p class="slide-text">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </p>
            </div>
            <p class="slide-footer">Bryan, New-York</p>
          </div>
          <!-- Карточка слайдера 3 -->
          <div class="slider-box">
            <img
              class="slide-photo"
              srcset="
                ./images/reviews/avatar-third.png    1x,
                ./images/reviews/avatar-third@2x.png 2x
              "
              src="./images/reviews/avatar-third.png"
              alt="Фото пользователя"
            />
            <div class="text-container">
              <p class="slide-text">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </p>
            </div>
            <p class="slide-footer">Diana, Chicago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
